/* APPAREL SHOP */
body{
  font-family: 'Dosis', sans-serif;

}

.enter-shop{
  margin: 10rem 2rem 0rem;
}
.shop-logo-img2 {
  width: 30rem;
  max-width: 100%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.shop-description2{
  padding: 2rem;
  margin: 0;
  max-width: 100%;
  text-align: left;
  font-family: 'Dosis', sans-serif;
  line-height: 1.3;
  font-size: 1.5rem;
  border-left: 2px solid black;
}












.shop-row{
  margin:  2rem 1rem 3rem;
}



.shop-logo-img {
  padding: 5rem 0 0;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* transform: scale(0.6); */
  width: 25rem;
  /* width: 30rem; */
}

.art-logo{
  width: 40rem;
  margin-bottom: 0;
}


.shop-description{
  /* display: none; */
  padding: 2rem;
  margin: 0.3rem auto 2rem;
  max-width: 80%;
  text-align: left;
  font-family: 'Dosis', sans-serif;
  line-height: 1.3;
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.4);
}




.see-icon {
  margin-right: 0.5rem;
}


.abuot-shop-btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Dosis', sans-serif;
  width: 15rem;
  background-color: black ;
  color: white;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0.5rem auto 2rem;


}












/* GENERAL MODAL*/

.my-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 0.4rem;
  z-index: 10;
  background-color: white;
  width: 65rem;
  height: 41rem;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.16),0 0.1rem 0.4rem 0 rgba(0,0,0,0.12);
}

.my-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-description-section .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 3rem;
  padding-top: 2rem;
  line-height: 1rem;
  /* font-weight: bold; */
}



#my-overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#my-overlay.active {
  opacity: 1;
  pointer-events: all;
}



/* /--------------------------------------------------------------------------------/ */
/* /--------------------------------------------------------------------------------/ */
/* shooping card style codepen: */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-centerY-centerX {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-wrapper {
  height: 100%;
  display: table;
}

.page-wrapper .page-inner {
  display: table-cell;
  vertical-align: middle;
}

.el-wrapper {
  /* max-width: 30rem; */
  padding: 1rem;
  margin: 1rem auto;
  background-color: #fff;
}


.el-wrapper .box-down {
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.el-wrapper .box-up {
  width: 100%;
  height: 35rem;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.el-wrapper .box-up-art {
  width: 100%;
  height: 23rem;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.el-wrapper .img {
  max-width: 22.5rem;
  /* padding: 20px 0; */
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
}

.h-bg {
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  width: 30rem;
  height: 100%;
  /* background-color: var(--my-pink); */
  background-color: black;
  position: absolute;
  left: -30rem;
}

.h-bg .h-bg-inner {
  width: 80%;
  height: 100%;
  /* background-color: #464646; */
  background-color: #656565;

}

.info-inner {
  -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: 0rem;
}

.info-inner .p-company,
.info-inner .p-name {
  display: block;
}

.info-inner .p-name {
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
  color: #252525;
}

.info-inner .p-company {
  font-family: 'Dosis', sans-serif;

  font-size: 12px;
  text-transform: uppercase;
  color: #8c8c8c;
}

.a-size {
  -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: -20px;
  font-family: 'Dosis', sans-serif;

  color: #1a1a1a;
  opacity: 0;
}

.a-size .size {
  color: #252525;
}

.cart {
  display: block;
  border: none;
  background: 0;
  color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: 'Dosis', sans-serif;

  font-weight: 700;
  cursor: pointer;
}

.cart .price {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #252525;
}

.cart .see-more {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 110%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cart .see-more .txt {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  white-space: nowrap;
}
/* /--------------------------------------------------------------------------------/ */
/* /--------------------------------------------------------------------------------/ */
/* /--------------------------------------------------------------------------------/ */
/* /--------------------------------------------------------------------------------/ */

/* // MODAL CARD DETAILS : */
.modal-nav {
  width: 100%;
  color: #727272;
  text-transform: uppercase;
  padding: 0rem;
  border-bottom: 0.2rem solid #efefef;
  text-align: right;
  margin-bottom: 1rem;
}

.photo-section {
  padding: 1rem;
  text-align: center;
  float: left;
  border-right: 2px solid #efefef;

}

.info-img {
  padding: 0.5rem;
  text-align: center;
  float: center;
  max-height: 80%;
}


.item-cell{
  margin-right: 15rem;
  /* height: 30rem; */


}

.flickity-slider {
  display: flex;
  align-items: center;
}

.modal-description-section {

  padding: 0 1rem;
  float: left;
  height: 40rem;
  /* width: 40%; */
  /* border-left: 2px solid #efefef; */
}


.modal-description-section h1 {
  color: #515151;
  font-weight: 300;
  /* padding: 2rem auto; */
  margin: 1rem auto;
  font-size: 3rem;
  font-weight: 300;
}

.modal-description-section h2 {
  color: #515151;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.modal-description-section h4 {
  margin: 0;
  color: #727272;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
}

.modal-description-section p {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #727272;
  padding: 1.2rem 0;
  margin: 0;
}

.modal-description-section button {
  outline: 0;
  border: 0;
  background: none;
  border: 0.1rem solid #d9d9d9;
  padding: 0.5rem 1.3rem;
  margin-bottom: 2rem;
  color: #515151;
  text-transform: uppercase;
  /* width: 17rem; */
  font-family: inherit;
  margin-right: 0.35rem;
  transition: all 0.3s ease;
  font-weight: 500;
}





/* DISABLE HOVER FOR TOUCH SCREENS: */


@media (hover: hover) and (pointer: fine) {

  .modal-description-section .close-button:hover {
    color: var(--my-pink);
    border: none;
  }

  .abuot-shop-btn:hover, .abuot-shop-btn:focus {
    background-color: var(--my-pink);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.13), 0 0 0 1px rgba(0, 0, 0, 0.08);
  }


  .modal-description-section button:hover {
    border: 0.1rem solid var(--my-pink);
    color: var(--my-pink);
    cursor: pointer;
  }

  .shop-description:hover{
    box-shadow: 2px 4px 22px rgba(0, 0, 0, 0.6);
  }

  .el-wrapper:hover .h-bg {
    left: 0;
  }

  .el-wrapper:hover .price {
    opacity: 0;
  }

  .el-wrapper:hover .see-more {
    left: 50%;
  }

  .el-wrapper:hover .img {
    webkit-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius= '7', shadowopacity='0.0')) opacity: 0.4;
  }

  .el-wrapper:hover .info-inner {
    bottom: 155px;
  }

  .el-wrapper:hover .a-size {
    -webkit-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
    bottom: 50px;
    opacity: 1;
  }

}


/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* MODAL ON MOBILE SETUP: */



@media (max-width:990px)
{

  .shop-description2{
    font-size: 3rem;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.4);
  }


  .item-cell .item-cell-img{
    width: 35rem;
  }


  .item-cell{
    /* height: 55rem; */

  }

  .my-modal {
    width: 80%;
    height: 85%;


    max-height: calc(100vh - 200px);
    overflow-y: auto;

  }


  .shop-logo-img {
  padding: 7rem 0 2rem;
  width: 40rem;
  }


  /* .shop-description{
    max-width: 90%;
    font-size: 3rem;

  } */

  .modal-description-section .close-button {
    /* visibility: hidden; */
    font-size: 6rem;
  }


  .photo-section {
    text-align: center;
    width: 100% !important;
    height: 60%;
    padding: 1rem;
    border: none !important;
    margin: 0;
  }

  .info-img {
    padding: 0 ;
    max-width: 20rem;
    float: none;

  }

  .modal-description-section {
    width: 100% !important;
    height: 40%;
    border: none !important;
    padding: 0 2rem 1rem;

  }

  .modal-description-section h1 {
    font-size: 4rem;
  }
  .modal-description-section h2 {
    font-size: 4rem;
  }


  .modal-description-section h4 {
    font-size: 2.5rem;
  }

  .modal-description-section p {
    font-size: 2.5rem;
    line-height: 1.2;

  }

  .modal-description-section button {
    font-size: 2rem;
  }



  .el-wrapper .img {
    max-width: 40rem;

  }
  .img-info{
    visibility: hidden;
  }

  .el-wrapper .box-up {
    /* height:38rem; */

  }

.el-wrapper .box-up-art{
  height:33rem;
}



  .info-inner .p-name {
    font-size: 2rem;
  }

  .cart .price {
    font-size: 2rem;
  }


}




@media (min-width: 990px) and (max-width: 1024px)
{

  .el-wrapper .img {
    width: 18rem;
  }
}

@media (min-width: 990px) and (max-width: 1024px) and (orientation: landscape)
{

  .el-wrapper .img {
    width: 18rem;
  }
}
